.image11{
    height: 80%;
    width: 101%;
}
.image12{
    margin-top: 58%;
    margin-left: 0%;
}
.button10{
    background-color:rgb(37, 35, 35);
    color: white;
    margin-top: 5%;
    margin-left: 0%;
    border-radius: 5%;
    

}
.image50{
    height: 80%;
    width: 70%;
    
}
button{
    height: 28px;
    width: 90x;
}

a.custom-link {
    color: gray; 
  }
.backtologin{
    margin-left: 0%;
    margin-top: 1%;
    
} 
.custom-link{
    font-size: 14px;
} 
.logo123 {
    display: flex;
    align-items: center; 
  }
  .logo1234 {
    width: 20px; 
    height: 20px;
    margin-left: 0%; 
    margin-top: 0%;
    margin-bottom: 2%;
  }
  #AAA{
    margin-left: 3%;
  }  
  
