.image40{
    margin-top: 100%;
}
#myheadding999{
    margin-top: 10%;
    flex: 1;
    margin-left: 2%;
    
}
#sub{
    margin-bottom: 50%;
}
#sub1{
    margin-top: 10%;
}
.image567{
    margin-top:40%;
}
.logo1000 {
    display: flex;
    align-items: center; 
  }
  
  .logo10001 {
    width: 20px; 
    height: 20px;
    margin-left: 0%; 
    margin-top: 8%;
  }
.custom-link123{
    color: gray;
    font-weight: 400;
    font-size: 14px;
    
}
